{
  "require": [
    "ts-node/register"
  ],
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "**/test/**"
  ],
  "extension": [
    ".ts"
  ],
  "reporter": [
    "text",
    "json"
  ],
  "all": true
}
